/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}
.jumbotron {
	background-color: #ffffff;
}
.accordion {
	margin-top: 15rem;
}

.nav-icon {
	width: 25px;
	height: 25px;
}

.font-size-small {
    font-size: 75%!important;
}

.font-size-normal {
    font-size: 100%!important;
}

.font-size-medium {
    font-size: 125%!important;
}

.font-size-big {
    font-size: 150%!important;
}

.font-size-large {
    font-size: 200%!important;
}

.section-header {
    -webkit-text-stroke: 2px #021B3A;
    color: #1D4967 ;
    font-size: 100px;
    font-weight: bold;
}

.hide {
    display:none;
}